<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    {% endblock  %}
  
</head>
<body>
    <div class="header">
        <div><a href="url_for('auth.login')"> LOGIN </a></div>
        <div><a href="url_for('auth.register')"> REGISTER</a></div>
    </div>
    <div id="container">
        {% block content %}
        
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
          &copy; Copyright 2018 by <a href="http://domain.invalid/">you</a>.
        {% endblock  %}
    </div>
</body>
</html>